.bg-main {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: radial-gradient(
    60% 60% at 60% 40%,
    rgba(9, 36, 49, 0.65),
    rgba(8, 16, 24, 0.92)
    ),
    url("/dragon.png");
}
