# Compilados Angular
dist/
tmp/
out-tsc/

# Dependências
node_modules/
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ambiente VS Code
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Ambiente Docker / Dev Container
.devcontainer/*.log
workspaceStorage/
*.pid

# Cobertura de testes
coverage/

# Cache Angular/CLI
.angular/
.angular/cache/

# Arquivos temporários
*.tmp
*.swp
*.swo
*.bak

# Environment (se usar variáveis locais)
.env
.env.local
.env.*.local
