<p-dialog
showHeader="false"
closable="false"
maskStyleClass="backdrop-blur-sm"
[modal]="true"
[(visible)]="visible"
[style]="{width: '600px', height: 'fit-content'}"
[breakpoints]="{'960px': '75vw', '640px': '90vw'}">
    <ng-template #content>
        <div
            class="flex flex-col px-8 py-8 gap-6 rounded-2xl"
            style="border-radius: 12px; background-image: radial-gradient(circle at left top, var(--p-primary-400), var(--p-primary-700))"
        >
            <app-register-form (cancel)="closeDialog()"/>
            <div class="flex flex-col justify-center items-center text-sm">
                <p class="text-[#9ca3af]">Ja possuí uma conta?</p>
                <a href="#" class="text-[#3b82f6] font-bold" (click)="login.showDialog()">Login</a>
                <app-login #login></app-login>
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
    </ng-template>
</p-dialog>