<div class="flex justify-center p-4">
    <h1 class="font-bold text-3xl">Cadastro</h1>
</div>
<div class="p-8 flex justify-center">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6 w-full max-w-md">
        <div class="inline-flex flex-col gap-2">
            <label>Nome de Usuário</label>
            <p-inputgroup>
                <p-inputgroup-addon>
                    <i class="pi pi-user"></i>
                </p-inputgroup-addon>
                <input pInputText type="text" id="username" formControlName="username" [invalid]="isInvalid('username')" />
            </p-inputgroup>
            @if (isInvalid('username')) {
                <p-message severity="error" size="small" variant="simple">Deve preencher um nome de usuario.</p-message>
            }
        </div>
        <div class="inline-flex flex-col gap-2">
            <label>Email</label>
            <p-inputgroup>
                <p-inputgroup-addon>
                    <i class="pi pi-envelope"></i>
                </p-inputgroup-addon>
                <input pInputText type="email" id="email" formControlName="email" [invalid]="isInvalid('email')" />
            </p-inputgroup>
            @if (isInvalid('email')) {
                @if (registerForm.get('email')?.errors?.['required']) {
                    <p-message severity="error" size="small" variant="simple">Deve preencher um email.</p-message>
                }
                @if (registerForm.get('email')?.errors?.['email']) {
                    <p-message severity="error" size="small" variant="simple">Insira um email valido.</p-message>
                }
            }
        </div>

        <div class="inline-flex flex-col gap-2">
            <label>Senha</label>
            <p-inputgroup>
                <p-inputgroup-addon>
                    <i class="pi pi-lock"></i>
                </p-inputgroup-addon>
                <p-password
                [invalid]="isInvalid('password')"
                [toggleMask]="true"
                feedback="true"
                formControlName="password"
                promptLabel="Crie uma senha segura!"
                weakLabel="Fraca"
                mediumLabel="Média"
                strongLabel="Forte"
                >
                    <ng-template #header>
                        <div class="font-semibold mb-4">Digite sua senha!</div>
                    </ng-template>
                    <ng-template #footer>
                        <p-divider />
                        <ul class="pl-2 my-0 leading-normal text-xs">
                            <li class="font-bold pb-1">No minimo: </li>
                            <li>8 caracteres</li>
                            <li>1 letras maiúscula</li>
                            <li>1 letra minúscula</li>
                            <li>1 número</li>
                        </ul>
                    </ng-template>
                </p-password>
            </p-inputgroup>
        </div>
        <div class="flex justify-center items-center gap-4 w-full">
            <p-button
                label="Cancelar"
                (click)="onCancel()"
                styleClass="!bg-transparent !border-white/20 !text-white/70 hover:!bg-white/10 hover:!text-white !p-4 w-full"
                class="w-full"
            />
            <p-button
                label="Registrar"
                styleClass="!p-4 w-full"
                class="w-full"
            />
        </div>
    </form>
</div>