<p-menubar>
    <ng-template #start>
      <a href="#"><img src="logo.png" class="h-[2rem] transition duration-300 ease-in-out hover:scale-105"></a>
    </ng-template>
    <ng-template #end>
        <div class="flex items-center gap-8">
          <a href="#">Inicio</a>
          <a href="#">Como Funciona</a>
          <a href="#">Criar Personagem</a>
          <p-button (click)="register.showDialog()"><span pButtonLabel>Cadastro</span></p-button>
          <app-register #register></app-register>
        </div>
    </ng-template>
</p-menubar>